@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <p>Tasarım & Kodlama  <a href="https://www.nuritiras.com.tr">Nuri TIRAŞ </a></p>
</div>
